// colors
$color-dark: #0A1931;
$color-primary: #185ADB;
$color-primary-hover: #0400FF;
$color-tertiary: #FFC947;
$color-background: #CECECE;
$color-success: #1f8a3a;
$color-error: #af364c;
$color-secondary: #FFB037;
$color-white: #FFFFFF;
$color-grey: #808080;

// fonts
$font-size-default: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;