.about {
  padding-bottom: 5rem;

  &__header {
    background-color: rgba($color-primary, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
  }

  .col-3-of-4 {
    background-color: $color-white;
    border: 1px solid $color-dark;
    padding: 1rem;
  }

  &__topseller__col {
    margin-bottom: 1rem;
    background-color: $color-white;
    border: 1px solid $color-dark;
    padding: 1rem;
  }

  &__info {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  &__header {
    font-size: 4.2rem;
    font-weight: 200;
    color: $color-white;
  }

  &__subheading {
    font-size: 3.2rem;
    color: $color-primary;
    font-weight: 200;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 2rem;
  }

  &__paragraph {
    font-size: $font-size-default;
    color: $color-dark;
    margin-bottom: 1rem;
    margin-top: 1rem;

    &__1 {
      padding: 0 2rem;
      text-align: center;
    }

    &__2 {
      padding: 2rem 1rem;
      margin-bottom: 2.4rem;
    }
  }

  &__display {
    width: 100%;

    &__main {
      margin: 3rem 0;
    }

    &__image {
      width: 100%;
      border-radius: 0.5rem;
    }
  }

  &__realtor {
    color: $color-primary;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 200;
    font-size: 1.8rem;
  }

  &__topseller {
    background-color: $color-error;
    color: $color-white;
    padding: 1rem 2rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
  }

  &__contact {
    color: $color-success;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
  }

  &__about {
    color: $color-dark;
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  &__team {
    
    .col-1-of-4 {
      min-width: 250px;
      min-height: 500px;
      padding: 1rem;
      background-color: $color-white;
      border: 1px solid $color-dark;
      overflow-y: hidden;
    }
  }

}