.alert {
  min-width: 260px;
  min-height: 4rem;
  padding: 0.2rem;
  padding-left: 1.2rem;
  border-radius: 5px;
  position: absolute;
  top: 10rem;
  right: 1rem;

  &--label {
    font-size: 1.6rem;
    padding: 0.8rem 1.6rem;
    font-weight: bold;
    background-color: $color-white;
    height: 100%;
    width: 100%;

    &--success {
      //background-color: $color-success;
      color: $color-success;
    }
    &--error {
      //background-color: $color-error;
      color: $color-error;
    }
  }
}
.alert--success {
  background-color: $color-success;
}
.alert--error {
  background-color: $color-error;
}